.App {
  text-align: center;
}

.App-logo {
  position:relative;
  right:770px;
  height: 5vmin;
  pointer-events: none;
  display:inline-block;
}
body{
  font-family:Poppins;
}

.bg{
  height:450px;
  width:450px;
}
.navo{
  display:inline-block;
  position:relative;
  left:770px;
  margin-left:30px;
}
.navo:hover{
  color:blue;
}

.fade-in {
  position:relative;
  animation: fadeIn ease-in-out 1s;
  -webkit-animation: fadeIn ease-in-out 1s;
  -moz-animation: fadeIn ease-in-out 1s;
  -o-animation: fadeIn ease-in-out 1s;
  -ms-animation: fadeIn ease-in-out 1s;
}


@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
#text{
  position:relative;
  bottom:30px;
  margin-right:600px;
  margin-left:600px;
}
.container {
  position:relative;
  bottom:10px;
  display:flex;
  justify-content:center;
  width: 100%;
  background-color:White;
}
input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 130px;
  font-size: 17px;
  color: #b8b8b8;
}
.button-wrap {
  position: relative;
}
#upload{
  border: 1px solid red;
  border-radius:24px;
  width:200px;
  height:30px;
  color:black;
}
 #upload:focus{
    outline: none !important;
 }
 .radar{
   position:relative;
   top:60px;
   left:630px;

   height:640px;
   width:640px;
 }
 .file-upload {
  display: inline-flex;
  align-items: center;
  font-size: 15px;
}

.file-upload__input {
  display: none;
}

.file-upload__button {
  -webkit-appearance: none;
  background: #009879;
  border: 2px solid #00745d;
  border-radius: 4px;
  outline: none;
  padding: 0.5em 0.8em;
  margin-right: 15px;
  color: #ffffff;
  font-size: 1em;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.file-upload__button:active {
  background: #00745d;
}

.file-upload__label {
  max-width: 250px;
  font-size: 0.95em;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-family: "Quicksand", sans-serif;
}

.button {
  border:none;
  outline:none;
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 25px;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  font-family:poppins;
}
.button::-ms-input-placeholder{
  color:black;
}


.button:focus{
  -webkit-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
  -moz-box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
  box-shadow: 0px 20px 35px -16px rgba(0, 111, 255, 0.65);
  transform: translateY(-5px);
  transition: all 0.3s;
}

h1{
  font-size:65px;
  background-image: linear-gradient(60deg, #8500ff, #ff8100);
        color: black;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-box-decoration-break: clone;
}