.App {
  text-align: center;
}

.App-logo {
  position:relative;
  right:810px;
  height: 5vmin;
  pointer-events: none;
}
body{
  font-family:Poppins;
}

.bg{
  height:450px;
  width:450px;
}
.navo{
  display:inline-block;
  position:relative;
  left:790px;
  margin-left:30px;
}
.navo:hover{
  color:blue;
}

.fade-in {
  position:relative;
  animation: fadeIn ease-in-out 1s;
  -webkit-animation: fadeIn ease-in-out 1s;
  -moz-animation: fadeIn ease-in-out 1s;
  -o-animation: fadeIn ease-in-out 1s;
  -ms-animation: fadeIn ease-in-out 1s;
}


@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}


@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
}
}
#text{
  position:relative;
  bottom:30px;
  margin-right:600px;
  margin-left:600px;
}
.container {
  position:relative;
  bottom:10px;
  display:flex;
  justify-content:center;
  width: 100%;
  background-color:White;
}
input[type="file"] {
  position: absolute;
  z-index: -1;
  top: 10px;
  left: 130px;
  font-size: 17px;
  color: #b8b8b8;
}
.button-wrap {
  position: relative;
}
.button {
  display: inline-block;
  padding: 12px 18px;
  cursor: pointer;
  border-radius: 25px;
  background: -webkit-linear-gradient(to right, #8500ff, #ff8100);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8500ff, #ff8100); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

h1{
  font-size:60px;
  background-image: linear-gradient(60deg, #8500ff, #ff8100);
        color: black;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        -webkit-box-decoration-break: clone;
}